<!DOCTYPE HTML>
<html>
<head>
<script>


window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	title: {
		text: "Cats by Gender"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [

			{label:"Male",y:53},
			{label:"Female",y:45}

		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer1" style="height: 500px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>