<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paw-suit of Happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
        body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; }
        
        path.link {
          fill: none;
          stroke-width: 2px;
        }
        .node:not(:hover) .nodetext {
          display: none;
        }
        h1 { font-size: 36px; margin: 10px 0; text-transform: uppercase; font-weight: normal;}
        h2, h3 { font-size: 18px; margin: 5px 0 ; font-weight: normal;}
        header {padding: 20px; position: absolute; top: 0; left: 0;}
        a:link { color: #EE3124; text-decoration: none;}
        a:visited { color: #EE3124; }
        a:hover { color: #A4CD39; text-decoration: underline;}
        a:active { color: #EE3124; }
      </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">Paw-suit of Happiness</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/shelters">Shelter Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wheel">Find a Friend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie1">Cat Age</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie2">Cat Breeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie3">Cat Gender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie4">Dog Age</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie5">Dog Breeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pie6">Dog Gender</a>
                    </li>
                  <!---- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Pet Statistics 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/pie1">Cat Age</a>
                          <a class="dropdown-item" href="/pie2">Cat Breed</a>
                          <a class="dropdown-item" href="/pie3">Cat Gender</a>
                          <a class="dropdown-item" href="/pie4">Dog Age</a>
                          <a class="dropdown-item" href="/pie5">Dog Breed</a>
                          <a class="dropdown-item" href="/pie6">Dog Gender</a>
                        </div>
                      </li>-->
                </ul>
            </div>
            
    </nav>
    <style>
        body{background: purple;}
        .basic, 
        .autoplay{margin: 0 50px;}
        .basic div, 
        .autoplay div {width: 1200px;height: 200px;}
        img {width: 100%;}
    </style>
    
    <section>
        <div class="autoplay">
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665266/1/?bust=1574528808&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665269/1/?bust=1574528790&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665262/1/?bust=1574528803&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665028/1/?bust=1574528445&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665264/1/?bust=1574528722&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665261/1/?bust=1574528691&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665266/1/?bust=1574528808&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665255/1/?bust=1574528567&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665204/4/?bust=1574528322&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665211/1/?bust=1574528496&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665258/1/?bust=1574528600&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665039/3/?bust=1574528472&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665002/3/?bust=1574528472&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665205/3/?bust=1574528472&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665043/3/?bust=1574528472&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665035/3/?bust=1574528472&width=600"></div>
            <div><img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/46665197/3/?bust=1574528472&width=600"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script>
            $('.autoplay').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });
        </script>
    </section>

    <div class="row">
        <div class="col-sm-12">
          <div class="container">
            
              <h1 class="display-4" style="text-align:center; color:white">Paw-Suit of Happiness</h1>
              <hr class="my-4" color="white">
              <p style="color:white">

                 Pawsuit of Happiness is an analysis of pet data from the petfinder.com api as well as petfinder.com shelter data across the U.S. & Canada. </p>

                 <p style="color:white">    This analysis will include the following: </p>

                 <p style="color:white">    - A map marking down all shelter locations in the tri-state area featuring a drop down menu to filter by state! </p>
                            
                 <p style="color:white">    - An interactive wheel visualization that provides photos and information for adoptable pets! </p>
                        
                 <p style="color:white">    - Several visualizations for age, breed, and gender statistics for both adoptable dogs and cats! </p>
              
          </div>
        </div>
    </div>
    


</body>
</html>